@import "tailwindcss";

@theme {
  --font-display: "Cascadia Code", "sans-serif";
  --font-display2: "Ubuntu", "sans-serif";
  --font-display3: "Oswald", "sans-serif";
  --font-display4: "Space Grotesk", "sans-serif";
  --color-main: #4d4d4d;
}

:root{
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}